.post-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.post {
  margin-top: 10px;
  flex-basis: 30%;
  background-color: rgba(255, 255, 255, 0.74);
  border: 9px outset #1c6ea4;
  box-sizing: border-box;
  margin: auto;
  margin-top: 3em;
  border-radius: 15px;

  -webkit-box-shadow: 4px 6px 21px 10px rgba(0, 0, 0, 0.55);
  box-shadow: 4px 6px 21px 10px rgba(0, 0, 0, 0.55);
}

.post-title {
  font-size: x-large;
}

.post-date {
  text-align: start;
  margin-left: 10px;
  margin-bottom: -20x;
}

.post-format {
  font-size: larger;
  font-style: italic;
}

.post-container {
  margin-top: 2em;
}

.filter-container {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  margin-top: 1em;
}

.format-dropdown {
  margin-right: 10px;
}

.create-post-btn {
  margin-left: 7px;
  height: 25px;
  background-color: #606c38;
  color: white;
  cursor: pointer;
}

.post-details {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
  border: 1px solid black;
  width: 75%;
  background-color: #dda15e;
  min-height: fit-content;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 2em;
  -webkit-box-shadow: 4px 6px 21px 10px rgba(0, 0, 0, 0.55);
  box-shadow: 4px 6px 21px 10px rgba(0, 0, 0, 0.55);
}

.post-info {
  text-align: start;
}

.post-details-body {
  text-align: center;
  font-size: large;
}

.edit-post {
  display: flex;
  flex-direction: row-reverse;
}
.edit-post-btn {
  border-radius: 5px;
}

.main-comment-container {
  height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.comment-flexbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-box {
  height: 75px;
  width: 465px;
}

.comment-btn {
  height: 40px;
  width: 80px;
  background-color: blue;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.comment-container {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comments {
  border: 1px solid black;
  background-color: #f0c28f;
  border-radius: 5px;
  width: 50%;
  margin-top: 10px;
  padding: 7px;
}

.myposts-title {
  text-align: center;
  border: 9px outset #1c6ea4;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.74);
  width: 40%;
  margin: auto;
  margin-top: 10px;
}

#button-container {
  display: flex;
  justify-content: space-between;
}

#delete-btn {
  margin-right: 5px;
  margin-bottom: 5px;
}
