.post-card {
  display: flex;
  justify-content: center;

  text-align: center;
  align-items: center;
}
.post {
  margin-top: 10px;
  flex-basis: 30%;
  background-color: #dda15e;

  box-sizing: border-box;
  margin: auto;
  margin-top: 3em;
  border-radius: 15px;

  -webkit-box-shadow: 4px 3px 15px 12px rgba(0, 0, 0, 0.84);
  box-shadow: 4px 3px 15px 12px rgba(0, 0, 0, 0.84);
}

.post-title {
  font-size: x-large;
}

.post-date {
  text-align: start;
  margin-left: 10px;
}

.post-format {
  font-size: larger;
  font-style: italic;
}

.post-container {
  margin-top: 2em;
}
