.post-card {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.post {
  margin-top: 10px;
  background-color: #dda15e;
  width: 65%;
  box-sizing: border-box;
  margin: auto;
  margin-top: 3em;
  border-radius: 15px;

  -webkit-box-shadow: 4px 3px 23px 8px rgba(0, 0, 0, 0.84);
  box-shadow: 4px 3px 23px 8px rgba(0, 0, 0, 0.84);
}

.post-title {
  font-size: x-large;
}

.post-date {
  text-align: start;
  margin-left: 10px;
}

.post-format {
  font-size: larger;
  font-style: italic;
}
