.my-comment-card {
  /* border: 1px solid red; */
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.my-comment-container {
}

.comment {
  margin-top: 10px;
  flex-basis: 30%;
  background-color: rgba(255, 255, 255, 0.74);
  border: 9px outset #1c6ea4;
  box-sizing: border-box;
  margin: auto;
  margin-top: 3em;
  border-radius: 15px;
  -webkit-box-shadow: 4px 6px 21px 10px rgba(0, 0, 0, 0.55);
  box-shadow: 4px 6px 21px 10px rgba(0, 0, 0, 0.55);
}

.my-comment-title {
  text-align: center;

  background-color: rgba(255, 255, 255, 0.678);
  width: 40%;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  border: 9px outset #1c6ea4;
}

.my-comment-post-title {
  font-size: larger;
  font-style: italic;
}

#post-title {
  font-size: xx-large;
}

#your-comment {
  font-size: larger;
  font-weight: bold;
}

.my-comment-delete-container {
  display: flex;
  justify-content: end;
  margin-right: 3px;
  margin-bottom: 3px;
}

.my-comment-delete:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}
.my-comment-delete {
  border-radius: 5px;
}
