.my-comment-container {
  /* border: 1px solid black; */
}

.my-comment-card {
  /* border: 1px solid red; */
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.comment {
  margin-top: 10px;
  flex-basis: 30%;
  background-color: #dda15e;

  box-sizing: border-box;
  margin: auto;
  margin-top: 3em;
  border-radius: 15px;
  -webkit-box-shadow: 4px 6px 21px 10px rgba(0, 0, 0, 0.55);
  box-shadow: 4px 6px 21px 10px rgba(0, 0, 0, 0.55);
}

.my-comment-title {
  text-align: center;
}
