.edit-form {
  background-color: rgba(207, 206, 204, 0.932);
  border: 8px outset #1c6ea4;
  margin: auto;
  margin-top: 10em;
  width: 30em;
}

#form {
  font-size: x-large;
}
.age-input {
  width: 30px;
}

#btn-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.delete-btn {
  margin-left: -10px;
}

#delete-btn:hover {
  background-color: rgb(243, 8, 8);
  color: aliceblue;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

#save-btn:hover {
  background-color: rgb(24, 8, 243);
  color: aliceblue;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
